body{
    background-color: rgb(10, 10, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 45px;
}
form{
    background-color: rgb(7, 7, 94);
    padding: 10px;
    display: flex;
    width: 80%; 
    flex-wrap: wrap;
    gap: 10px;
}
form input{
    background-color: rgba(4, 4, 134, 0.686);
    border: none;
    /* outline: none; */
    padding: 5px 10px;
    flex-basis: 30px; 
    flex-grow: 1;
    color: aliceblue;
}
button{
    background-color: rgba(4, 4, 134, 0.686);
    border: none;
    padding: 5px 10px;
    flex-basis: 30px; 
    flex-grow: 1;
    color: aliceblue;
    cursor: pointer;


}